USE [master]
GO
/****** Object:  Database [BNBHOTEL]    Script Date: 27/01/2016 19:44:44 ******/
CREATE DATABASE [BNBHOTEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BNBHOTEL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BNBHOTEL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BNBHOTEL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BNBHOTEL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BNBHOTEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BNBHOTEL]
GO
/****** Object:  User [dbuser]    Script Date: 27/01/2016 19:44:44 ******/
CREATE USER [dbuser] FOR LOGIN [dbuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [dbuser]
GO
/****** Object:  Table [dbo].[BOOK_HOTELS]    Script Date: 27/01/2016 19:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_HOTELS](
	[idClient] [int] NOT NULL,
	[idHotel] [int] NOT NULL,
	[dateFrom] [date] NOT NULL,
	[dateTo] [date] NOT NULL,
 CONSTRAINT [PK_RESA_HOTELS] PRIMARY KEY CLUSTERED 
(
	[idClient] ASC,
	[idHotel] ASC,
	[dateFrom] ASC,
	[dateTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOTELS]    Script Date: 27/01/2016 19:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTELS](
	[id] [int] NOT NULL,
	[name] [nchar](50) NOT NULL,
	[city] [nchar](50) NOT NULL,
	[adress] [nchar](50) NOT NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_HOTELS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[HOTELS] ([id], [name], [city], [adress], [price]) VALUES (1, N'Campanil - La Defense                             ', N'Paris                                             ', N'20 av Charles de Gaulle                           ', 70)
INSERT [dbo].[HOTELS] ([id], [name], [city], [adress], [price]) VALUES (2, N'TopHotel - Versailles                             ', N'Paris                                             ', N'-                                                 ', 100)
ALTER TABLE [dbo].[BOOK_HOTELS]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_HOTELS] FOREIGN KEY([idHotel])
REFERENCES [dbo].[HOTELS] ([id])
GO
ALTER TABLE [dbo].[BOOK_HOTELS] CHECK CONSTRAINT [FK_BOOK_HOTELS]
GO
USE [master]
GO
