USE [master]
GO
/****** Object:  Database [AIRFLIGHT]    Script Date: 26/01/2016 19:56:23 ******/
CREATE DATABASE [AIRFLIGHT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIRFLIGHT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AIRFLIGHT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AIRFLIGHT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AIRFLIGHT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIRFLIGHT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIRFLIGHT]
GO
/****** Object:  User [dbuser]    Script Date: 26/01/2016 19:56:23 ******/
CREATE USER [dbuser] FOR LOGIN [dbuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[FLIGHTS]    Script Date: 26/01/2016 19:56:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLIGHTS](
	[id] [int] NOT NULL,
	[numPlane] [varchar](50) NOT NULL,
	[dateStart] [datetime] NOT NULL,
	[dateEnd] [datetime] NOT NULL,
	[cityFrom] [nchar](50) NOT NULL,
	[cityTo] [nchar](50) NOT NULL,
	[cityFromCode] [nchar](10) NOT NULL,
	[cityToCode] [nchar](10) NOT NULL,
 CONSTRAINT [PK_VOLS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FLIGHTS] ([id], [numPlane], [dateStart], [dateEnd], [cityFrom], [cityTo], [cityFromCode], [cityToCode]) VALUES (1, N'PL0001', CAST(N'2016-02-01 00:00:00.000' AS DateTime), CAST(N'2016-02-02 00:00:00.000' AS DateTime), N'Nantes                                            ', N'Paris                                             ', N'NAN       ', N'PAR       ')
INSERT [dbo].[FLIGHTS] ([id], [numPlane], [dateStart], [dateEnd], [cityFrom], [cityTo], [cityFromCode], [cityToCode]) VALUES (2, N'PL0002', CAST(N'2016-02-03 00:00:00.000' AS DateTime), CAST(N'2016-02-04 00:00:00.000' AS DateTime), N'Paris                                             ', N'Nantes                                            ', N'PAR       ', N'NAN       ')
USE [master]
GO
